Am 14.6.2024 startete die Fußballeuropameisterschaft in Deutschland.

In Gruppe {{ data.group }} spielen am {{ data.date.strftime('%d.%m.%Y um %H:%M') }} die Mannschaften {{ data.home_team }} und {{ data.guest_team }} gegeneinander.

Die aktuelle Gruppentabelle ist

{{ data.group_md_table }}


Die letzten Spielergebnisse von {{ data.home_team }} waren

{{ data.home_last_games_md_table }}

Die letzten Spielergebnisse von {{ data.guest_team }} waren

{{ data.guest_last_games_md_table }}


Wie endet das Spiel? Lass in die Einschätzung dabei nicht nur die vergangenen Ergebnisse einfließen, sondern auch eine allgemeine Einschätzung der Mannschaften.
Gib eine kurze Begründung und nenne einen eindeutigen Tipp.


